generated/
build/
Debug/
Release/
base.build/
*.xcodeproj/
*.code-workspace
CMakeFiles/
CMakeScripts/
CMakeCache.txt
Testing/
*.cmake
install_manifest.txt
Makefile
bin/
lib/
include/
*.a
*.so
*.so.*
*.dylib
.DS_Store
