# Build
generated/
build/
build-*/
base.build/

# CMake
CMakeFiles/
CMakeScripts/
CMakeCache.txt
*.cmake
Makefile
install_manifest.txt
DartConfiguration.tcl

# Ninja
.ninja*
*.ninja

# XCode
*.xcodeproj/
*.code-workspace

# MSVC
Debug/
Release/

# Windows
*.sln
*.vcxproj
*.vcxproj.filters
*.exe
*.lib
*.pdb
*.dll
*.ilk
*.exp

# Non-Windows
*.a
*.so
*.so.*

# macOS
*.dylib
*.plist
.DS_Store

# WebAssembly
*.wasm
wasm

# Testing
Testing/
junit.xml

# Install
install/
base-*.sh
*.tar.*
